<p style="color: green"><%= notice %></p>

<%= render @second_demo %>

<div>
  <%= link_to "Edit this second demo", edit_second_demo_path(@second_demo) %> |
  <%= link_to "Back to second demos", second_demos_path %>

  <%= button_to "Destroy this second demo", @second_demo, method: :delete %>
</div>
